@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<h1>Начните печать!</h1>
<br>
<input type="text" size="60">
<br><br>
<div class = "keyboard">
        <div class = "keyboard_row">
            <div class = "key">ё</div>
            <div class = "key">1</div>
            <div class = "key">2</div>
            <div class = "key">3</div>
            <div class = "key">4</div>
            <div class = "key">5</div>
            <div class = "key">6</div>
            <div class = "key">7</div>
            <div class = "key">8</div>
            <div class = "key">9</div>
            <div class = "key">0</div>
            <div class = "key">-</div>
            <div class = "key">+</div>
            <div class = "flex_key">Backspace</div>
        </div>
        <div class = "keyboard_row">
            <div class = "flex_key">Tab</div>
            <div class = "key">й</div>
            <div class = "key">ц</div>
            <div class = "key">у</div>
            <div class = "key">к</div>
            <div class = "key">е</div>
            <div class = "key">н</div>
            <div class = "key">г</div>
            <div class = "key">ш</div>
            <div class = "key">щ</div>
            <div class = "key">з</div>
            <div class = "key">х</div>
            <div class = "key">ъ</div>
            <div class = "flex_key">\</div>
        </div>
        <div class = "keyboard_row">
            <div class = "flex_key">CapsLock</div>
            <div class = "key">ф</div>
            <div class = "key">ы</div>
            <div class = "key">в</div>
            <div class = "key">а</div>
            <div class = "key">п</div>
            <div class = "key">р</div>
            <div class = "key">о</div>
            <div class = "key">л</div>
            <div class = "key">д</div>
            <div class = "key">ж</div>
            <div class = "key">э</div>
            <div class = "flex_key">Enter</div>
        </div>
        <div class = "keyboard_row">
            <div class = "flex_key">Shift</div>
            <div class = "key">я</div>
            <div class = "key">ч</div>
            <div class = "key">с</div>
            <div class = "key">м</div>
            <div class = "key">и</div>
            <div class = "key">т</div>
            <div class = "key">ь</div>
            <div class = "key">б</div>
            <div class = "key">ю</div>
            <div class = "key">.</div>
            <div class = "flex_key">Shift</div>
        </div>
	<div class = "keyboard_row">
            <div class = "flex_key">Ctrl</div>
            <div class = "flex_key">Win</div>
            <div class = "flex_key">Alt</div>
            <div class = "space_key">Space</div>
            <div class = "flex_key">Alt</div>
            <div class = "flex_key">Fn</div>
            <div class = "flex_key">Ctrl</div>
        </div>
    </div>

	
</div>