
  html {
    position: relative;
    min-height: 100%;
  }

  a {
    text-decoration: none;
    color:#000;
  }
  ul {
    margin: 0px;
    margin-top: 18px;
    list-style: None;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding-inline-start: 0px;
  }
  ul li {
      padding: 25px 20px;
      display: inline-block;
  }

  body {
    margin-bottom: 60px;
    text-align: center;
  }
  .main_text {
    height: 100%;
    margin: 0px;
  }
  .main_text span{
    font-size: 32px;
  }
  .sign {
    width: 16px;
  }
  #typing {
    background: rgb(50, 200, 20);
  }
  #typing_wrong {
    background: rgb(200, 50, 20);
  }
  #typed {
    color: rgb(50, 200, 20);
  }
  h1 {
    margin: 0px;
    margin-top: 18px;
  }
  h2 {
    font-size: 24px;
  }
  .speed {  
    width: 50%;
  }
  .text {
    display: flex;
    place-content: center;
    vertical-align: middle;
    text-align: center;
    height: 100px;
  }
  .stats {
    margin: 0 auto;
    display: flex;
    max-width: 600px;
  }
  .hands {
    margin: 0 auto;
    max-width: 800px;
  }
  .hand {
    position: absolute;
    max-height: 87px;
    max-width: 58px;
  }
  .hand img {
    max-height: 87px;
    max-width: 58px;
  }
  .keyboard {
    background: black;
    border-radius: 6px;
    box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 20%);
    margin: 0 auto;
    padding: 3px;
    max-width: 800px;
  }
  .keyboard_row {
    display: flex;
  }
  .pressed_key {
    display: grid;
    place-content: center;
    background: rgb(140, 200, 255);
    border-radius: 2px;
    color: #000;
    height: 50px;
    margin: 1.5px;
    text-align: center; 
    width: 50px;
  }
  .pressed_flex_key {
    display: grid;
    place-content: center;
    background: rgb(140, 200, 255);
    border-radius: 2px;
    color: #000;
    height: 50px;
    margin: 1.5px;
    text-align: center;
    max-width: 100%;
    flex: 1;
  }
  .pressed_space_key {
    display: grid;
    place-content: center;
    background: rgb(140, 200, 255);
    border-radius: 2px;
    color: #000;
    height: 50px;
    margin: 1.5px;
    text-align: center;
    width: 394px;
  }
  .key {
    display: grid;
    place-content: center;
    background: white;
    border-radius: 2px;
    color: #000;
    height: 50px;
    margin: 1.5px;
    text-align: center; 
    width: 50px;
  }
  .flex_key {
    display: grid;
    place-content: center;
    background: white;
    border-radius: 2px;
    color: #000;
    height: 50px;
    margin: 1.5px;
    text-align: center;
    max-width: 100%;
    flex: 1;
  }
  .space_key {
    display: grid;
    place-content: center;
    background: white;
    border-radius: 2px;
    color: #000;
    height: 50px;
    margin: 1.5px;
    text-align: center;
    width: 394px;
  }
  .slider {
    margin-top:18px;
    max-width: 1100px;
    max-height: 600px;
    border: 8px solid #000;
    border-radius: 12px;
    
    overflow: hidden;
  }
  .middle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .navigation {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar {
    height: 12px;
    width: 45px;
    margin: 9px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #777;
    opacity: .5;
    transition:all .4s ease;
  }
  .bar:hover {
    opacity: .8;
    transform: scale(1.1);
  }
  input[name="r"] {
    position: absolute;
    visibility: hidden;
  }
  .slides {
    
    animation: sliderAnimate 15s infinite ease 0.04s;
    transition: all .6s ease;
    width: 300%;
    height: 100%;
    display: flex;
  }
  .btn {
    color: rgba(140, 200, 255, 0.85);
    background-color: transparent;
    border: 1px solid rgba(140, 200, 255, 0.85);
    line-height: 1;
  }
  .btn p {
    margin: 0;
  }
  .prev {
    position: absolute;
    left: 0px;
    top: 50%;
    font-size: 48px;
  }
  .next {
    position: absolute;
    right: 0px;
    top: 50%;
    font-size: 48px;
  }

  .slider:hover .slides{
  }

  .slide {
    width: 33.333%;
    transition: all .6s ease;
  }
  .slide img {
    width: 100%;
    height: 100%;
  }
  .slide h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 24px;
  }
  @keyframes sliderAnimate {
    0% {margin-left: -0%;}  
    16.667% {margin-left: -0%;}
    33.333% {margin-left: -100%;}
    50% {margin-left: -100%;}
    66.667% {margin-left: -200%;}
    83.333% {margin-left: -200%;}
    100% {margin-left: -0%;}
  }
  @keyframes sliderAnimate2 {
    0% {margin-left: -100%;}  
    16.667% {margin-left: -100%;}
    33.333% {margin-left: -200%;}
    50% {margin-left: -200%;}
    66.667% {margin-left: -0%;}
    83.333% {margin-left: -0%;}
    100% {margin-left: -100%;}
  }
  @keyframes sliderAnimate3 {
    0% {margin-left: -200%;}  
    16.667% {margin-left: -200%;}
    33.333% {margin-left: -0%;}
    50% {margin-left: -0%;}
    66.667% {margin-left: -100%;}
    83.333% {margin-left: -100%;}
    100% {margin-left: -200%;}
  }

  @keyframes barAnimate {
    0% {
      opacity: .8;
      transform: scale(1.1);
    }  
    16.667% {
      opacity: .8;
      transform: scale(1.1);
    }
    33.333% {
      opacity: .5;
      transform: scale(1);
    }
    50% {
      opacity: .5;
      transform: scale(1);
    }
    66.667% {
      opacity: .5;
      transform: scale(1);
    }
    83.333% {
      opacity: .5;
      transform: scale(1);
    }
    100% {
      opacity: .8;
      transform: scale(1.1);
    }
  }
  @keyframes barAnimate2 {
    0% {
      opacity: .5;
      transform: scale(1); 
    }  
    16.667% {
      opacity: .5;
      transform: scale(1);
    }
    33.333% {
      opacity: .8;
      transform: scale(1.1);
    }
    50% {
      opacity: .8;
      transform: scale(1.1);
    }
    66.667% {
      opacity: .5;
      transform: scale(1);
    }
    83.333% {
      opacity: .5;
      transform: scale(1);
    }
    100% {
      opacity: .5;
      transform: scale(1);
    }
  }
  @keyframes barAnimate3 {
    0% {
      opacity: .5;
      transform: scale(1);
    }  
    16.667% {
      opacity: .5;
      transform: scale(1);
    }
    33.333% {
      opacity: .5;
      transform: scale(1);
    }
    50% {
      opacity: .5;
      transform: scale(1);
    }
    66.667% {
      opacity: .8;
      transform: scale(1.1);
    }
    83.333% {
      opacity: .8;
      transform: scale(1.1);
    }
    100% {
      opacity: .5;
      transform: scale(1);
    }
  }
  #lb1 {
    animation: barAnimate 15s infinite;
  }
  #lb2 {
    animation: barAnimate2 15s infinite;
  }
  #lb3 {
    animation: barAnimate3 15s infinite;
  }


  #r1:checked ~ .slides {
    margin-left: -0%;
    animation: sliderAnimate 15s infinite ease 0.04s;
    animation-delay: 5s;
  }
  #r1:checked ~ .navigation #lb1 {
    opacity: .8;
    transform: scale(1.1);
    animation: barAnimate 15s infinite;
    animation-delay: 5s;
  }
  #r1:checked ~ .navigation #lb2 {
    animation: barAnimate2 15s infinite;
    animation-delay: 5s;
  }
  #r1:checked ~ .navigation #lb3 {
    animation: barAnimate3 15s infinite;
    animation-delay: 5s;
  }
  #r2:checked ~ .slides {
    margin-left: -100%;
    animation: sliderAnimate2 15s infinite ease 0.04s;
    animation-delay: 5s;
  }
  #r2:checked ~ .navigation #lb1 {
    animation: barAnimate3 15s infinite;
    animation-delay: 5s;
  }
  #r2:checked ~ .navigation #lb2 {
    opacity: .8;
    transform: scale(1.1);
    animation: barAnimate 15s infinite;
    animation-delay: 5s;
  }
  #r2:checked ~ .navigation #lb3 {
    animation: barAnimate2 15s infinite;
    animation-delay: 5s;
  }
  #r3:checked ~ .slides {
    margin-left: -200%;
    animation: sliderAnimate3 15s infinite ease 0.04s;
    animation-delay: 5s;
  }
  #r3:checked ~ .navigation #lb1 {
    animation: barAnimate2 15s infinite;
    animation-delay: 5s;
  }
  #r3:checked ~ .navigation #lb2 {
    animation: barAnimate3 15s infinite;
    animation-delay: 5s;
  }
  #r3:checked ~ .navigation #lb3 {
    opacity: .8;
    transform: scale(1.1);
    animation: none;
    animation: barAnimate 15s infinite;
    animation-delay: 5s;
  }
  .content {
    margin-top:18px;
    max-width: 1100px;
    max-height: 600px;
    border: 8px solid #000;
    border-radius: 12px;

    font-weight: bold;
    text-align: justify;
  }
  .upperBlock {
    background-color: rgb(236,253,236);
    display: flex;
    flex-wrap: wrap;
  }
  .upperBlock .leftBlock {
    margin-left: auto;
    margin-right: auto;
    min-width:700px;
    width: 70%;
  }
  .upperBlock .rightBlock {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  .upperBlock .leftBlock img {
    height: 100%;
    width: 100%
  }
  .bottomBlock {
    background-color: rgb(236,253,236);
    display: flex;
    flex-wrap: wrap;
  }